@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.bg-image{
    z-index: -999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.bg-image img{
    position: absolute;
    image-rendering: crisp-edges;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(35%);
}
.quote{
    
    color: #FFF;
    text-align: center;
}
.quote h1{
    font-family: 'Schoolbell', cursive;
    font-size: 45px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding: 5px 0 0 0;
}
.wrapper{
    width: 65%;
}

